.game{
  border: 2px solid black;
  min-width: 500px;
}

.board {
  /*border: 4px solid magenta;*/
  background-color: antiquewhite;
}

.side-left {
  border: 4px solid indigo;
}

.side-right {
  border: 4px solid indigo;
  min-width: 300px;
}

.row {
  max-width: 765px;
}

/*Upper game grid*/
#ul {
  width: 36%;
  aspect-ratio: 1;
}
#um {
  width: 28%;
  height: inherit;
}
#ur {
  width: 36%;
  aspect-ratio: 1;
}

/*Middle game grid*/
#ml {
  width: 36%;
  height: inherit;
}
#mm {
  width: 28%;
  aspect-ratio: 1;
}
#mr {
  width: 36%;
  height: inherit;
}

/*Bottom game grid*/
#bl {
  width: 36%;
  aspect-ratio: 1;
}
#bm {
  width: 28%;
  height: inherit;
}
#br {
  width: 36%;
  aspect-ratio: 1;
}

.scene {
  width: 100px;
  height: 100px;
  margin: 20px;
  perspective:600px;
}

.rollBtn{
  background:black;
  color:white;
  border:none;
  font-size:1.5em;
  margin-bottom: 1em;
  width:200px;
}

#cube {
 width:100px;
 height: 100px;
 position: relative;
 transform-style: preserve-3d;
 transform: translateZ(-50px);
 transition: transform 1s;
}

#cube.show-1 { transform: translateZ(-100px) rotateY(   0deg); }
#cube.show-2 { transform: translateZ(-100px) rotateX(  90deg); }
#cube.show-3 { transform: translateZ(-100px) rotateY( -90deg); }
#cube.show-4 { transform: translateZ(-100px) rotateY(  90deg); }
#cube.show-5 { transform: translateZ(-100px) rotateX( -90deg); }
#cube.show-6 { transform: translateZ(-100px) rotateY(-180deg); }


#cube.is-spinning-1 {
  animation: spinCube-1 5s linear;
}
#cube.is-spinning-2 {
  animation: spinCube-2 5s linear;
}
#cube.is-spinning-3 {
  animation: spinCube-3 5s linear;
}
#cube.is-spinning-4 {
  animation: spinCube-4 5s linear;
}
#cube.is-spinning-5 {
  animation: spinCube-5 5s linear;
}
#cube.is-spinning-6 {
  animation: spinCube-6 5s linear;
}

@keyframes spinCube-1 {
  0% { transform: translateZ(-100px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16% { transform: translateZ(-100px) rotateX(180deg) rotateY(180deg) rotateZ(0deg); }
  32% { transform: translateZ(-100px) rotateX(360deg) rotateY(90deg) rotateZ(180deg); }
  48% { transform: translateZ(-100px) rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
  64% { transform: translateZ(-100px) rotateX(180deg) rotateY(360deg) rotateZ(270deg); }
  80% { transform: translateZ(-100px) rotateX(270deg) rotateY(180deg) rotateZ(180deg); }
  100% { transform: translateZ(-100px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
}
@keyframes spinCube-2 {
  0% { transform: translateZ(-100px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16% { transform: translateZ(-100px) rotateX(180deg) rotateY(180deg) rotateZ(0deg); }
  32% { transform: translateZ(-100px) rotateX(360deg) rotateY(90deg) rotateZ(180deg); }
  48% { transform: translateZ(-100px) rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
  64% { transform: translateZ(-100px) rotateX(180deg) rotateY(360deg) rotateZ(270deg); }
  80% { transform: translateZ(-100px) rotateX(270deg) rotateY(180deg) rotateZ(180deg); }
  100% { transform: translateZ(-100px) rotateX(90deg) rotateY(0deg) rotateZ(0deg); }
}
@keyframes spinCube-3 {
  0% { transform: translateZ(-100px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16% { transform: translateZ(-100px) rotateX(180deg) rotateY(180deg) rotateZ(0deg); }
  32% { transform: translateZ(-100px) rotateX(360deg) rotateY(90deg) rotateZ(180deg); }
  48% { transform: translateZ(-100px) rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
  64% { transform: translateZ(-100px) rotateX(180deg) rotateY(360deg) rotateZ(270deg); }
  80% { transform: translateZ(-100px) rotateX(270deg) rotateY(180deg) rotateZ(180deg); }
  100% { transform: translateZ(-100px) rotateX(0deg) rotateY(-90deg) rotateZ(0deg); }
}
@keyframes spinCube-4 {
  0% { transform: translateZ(-100px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16% { transform: translateZ(-100px) rotateX(180deg) rotateY(180deg) rotateZ(0deg); }
  32% { transform: translateZ(-100px) rotateX(360deg) rotateY(90deg) rotateZ(180deg); }
  48% { transform: translateZ(-100px) rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
  64% { transform: translateZ(-100px) rotateX(180deg) rotateY(360deg) rotateZ(270deg); }
  80% { transform: translateZ(-100px) rotateX(270deg) rotateY(180deg) rotateZ(180deg); }
  100% { transform: translateZ(-100px) rotateX(0deg) rotateY(90deg) rotateZ(0deg); }
}
@keyframes spinCube-5 {
  0% { transform: translateZ(-100px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16% { transform: translateZ(-100px) rotateX(180deg) rotateY(180deg) rotateZ(0deg); }
  32% { transform: translateZ(-100px) rotateX(360deg) rotateY(90deg) rotateZ(180deg); }
  48% { transform: translateZ(-100px) rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
  64% { transform: translateZ(-100px) rotateX(180deg) rotateY(360deg) rotateZ(270deg); }
  80% { transform: translateZ(-100px) rotateX(270deg) rotateY(180deg) rotateZ(180deg); }
  100% { transform: translateZ(-100px) rotateX(-90deg) rotateY(0deg) rotateZ(0deg); }
}
@keyframes spinCube-6 {
  0% { transform: translateZ(-100px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16% { transform: translateZ(-100px) rotateX(180deg) rotateY(180deg) rotateZ(0deg); }
  32% { transform: translateZ(-100px) rotateX(360deg) rotateY(90deg) rotateZ(180deg); }
  48% { transform: translateZ(-100px) rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
  64% { transform: translateZ(-100px) rotateX(180deg) rotateY(360deg) rotateZ(270deg); }
  80% { transform: translateZ(-100px) rotateX(270deg) rotateY(180deg) rotateZ(180deg); }
  100% { transform: translateZ(-100px) rotateX(0deg) rotateY(-180deg) rotateZ(0deg); }
}

.cube__face {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 4px solid white;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.cube__face--1  { background: white; opacity: 1; border: 4px solid black; }
.cube__face--2  { background: white; opacity: 1; border: 4px solid black; }
.cube__face--3  { background: white; opacity: 1; border: 4px solid black; }
.cube__face--4  { background: white; opacity: 1; border: 4px solid black; }
.cube__face--5  { background: white; opacity: 1; border: 4px solid black; }
.cube__face--6  { background: white; opacity: 1; border: 4px solid black; }

.cube__face--1  { transform: rotateY(  0deg) translateZ(50px); }
.cube__face--2  { transform: rotateX(-90deg) translateZ(50px); }
.cube__face--3  { transform: rotateY( 90deg) translateZ(50px); }
.cube__face--4  { transform: rotateY(-90deg) translateZ(50px); }
.cube__face--5  { transform: rotateX( 90deg) translateZ(50px); }
.cube__face--6  { transform: rotateY(180deg) translateZ(50px); }

label { margin-right: 10px; }

#regeln {
  height: 70%;
}


.point-right{
  right: 2.5vmin;
}


.roll-btn{
  padding: 1vmin 1.5vmin;
  border: none;
  border-radius: 1vmin;
  cursor: pointer;
  font-weight: bolder;
}

.field-gameboard, .field-startFinish{
  background-color: white;
  height: 90%;
  width: 90%;
  margin: 5%;
  border-radius: 90%;
  border: 2px solid black;
  text-align: center;
  font-size: 100%;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

.field-startFinish{
  margin: 10%;
  width: 80%;
  height: 80%;
}

/*for the grid design in every part of the board*/

.row_4_4{
  height: 25%;
}
.col_4_4{
  width: 25%;
}

.row_4_3{
  height: 25%;
}
.col_4_3{
  width: 33.333%;
}

.row_3_4{
  height: 33.333%;
}
.col_3_4{
  width: 25%;
}

.row_3_3{
  height: 33.333%;
}
.col_3_3{
  width: 33.333%;
}

.boardWrittingBottom, .boardWrittingTop{
  font-size: 200%;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

.boardWrittingTop{
  padding-top: 40px;
}

.boardWrittingBottom{
  padding-top: 40px;
}

.gameBoardToken{
  height: 70%;
  width: 70%;
  border: 1px solid black;
  border-radius: 70%;
  margin: 15%;
}

.highlightField{
  background-color: deeppink;

}

.hightlightField:hover{
  border: 4px solid black;
}
