<div nz-row>
  <div nz-col class="side-left" nzFlex="auto">
    <div class="whosTurnIsIt">
      Es ist dran:
      <div id="whosTurnIsIt">

      </div>
    </div>
    <div class="whosTurnIsIt">
      Du bist Farbe:
      <div id="whoAmI">

      </div>
    </div>
    <div class="whosTurnIsIt">
      GameID:
      <div id="whatsMyGameID">

      </div>
    </div>
  </div>
  <div nz-col class="game" nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
    <div nz-row class="row">
      <div nz-col class="board" id="ul">
        <div nz-row class="row_4_4" id="ul_r_1">
          <div nz-col class="col_4_4" id="AS_0"></div>
          <div nz-col class="col_4_4" id="AS_1"></div>
          <div nz-col class="col_4_4" id="ul_r_1_c_3"></div>
          <div nz-col class="col_4_4" id="ul_r_1_c_4"></div>
        </div>
        <div nz-row class="row_4_4" id="ul_r_2">
          <div nz-col class="col_4_4" id="AS_2"></div>
          <div nz-col class="col_4_4" id="AS_3"></div>
          <div nz-col class="col_4_4" id="ul_r_2_c_3"></div>
          <div nz-col class="col_4_4" id="ul_r_2_c_4"></div>
        </div>
        <div nz-row class="row_4_4" id="ul_r_3">
          <div nz-col class="col_4_4" id="ul_r_3_c_1"></div>
          <div nz-col class="col_4_4" id="ul_r_3_c_2"></div>
          <div nz-col class="col_4_4" id="ul_r_3_c_3"></div>
          <div nz-col class="col_4_4" id="ul_r_3_c_4"></div>
        </div>
        <div nz-row class="row_4_4" id="ul_r_4">
          <div nz-col class="col_4_4" id="ul_r_4_c_1"></div>
          <div nz-col class="col_4_4" id="ul_r_4_c_2"></div>
          <div nz-col class="col_4_4" id="ul_r_4_c_3"></div>
          <div nz-col class="col_4_4" id="ul_r_4_c_4"></div>
        </div>
      </div>
      <div nz-col class="board" id="um">
        <div nz-row class="row_4_3" id="um_r_1">
          <div nz-col class="col_4_3" id="AR_8"></div>
          <div nz-col class="col_4_3" id="AR_9"></div>
          <div nz-col class="col_4_3" id="BR_0"></div>
        </div>
        <div nz-row class="row_4_3" id="um_r_2">
          <div nz-col class="col_4_3" id="AR_7"></div>
          <div nz-col class="col_4_3" id="BF_0"></div>
          <div nz-col class="col_4_3" id="BR_1"></div>
        </div>
        <div nz-row class="row_4_3" id="um_r_3">
          <div nz-col class="col_4_3" id="AR_6"></div>
          <div nz-col class="col_4_3" id="BF_1"></div>
          <div nz-col class="col_4_3" id="BR_2"></div>
        </div>
        <div nz-row class="row_4_3" id="um_r_4">
          <div nz-col class="col_4_3" id="AR_5"></div>
          <div nz-col class="col_4_3" id="BF_2"></div>
          <div nz-col class="col_4_3" id="BR_3"></div>
        </div>
      </div>
      <div nz-col class="board" id="ur">
        <div nz-row class="row_4_4" id="ur_r_1">
          <div nz-col class="col_4_4" id="ur_r_1_c_1"></div>
          <div nz-col class="col_4_4" id="ur_r_1_c_2"></div>
          <div nz-col class="col_4_4" id="BS_0"></div>
          <div nz-col class="col_4_4" id="BS_1"></div>
        </div>
        <div nz-row class="row_4_4" id="ur_r_2">
          <div nz-col class="col_4_4" id="ur_r_2_c_1"></div>
          <div nz-col class="col_4_4" id="ur_r_2_c_2"></div>
          <div nz-col class="col_4_4" id="BS_2"></div>
          <div nz-col class="col_4_4" id="BS_3"></div>
        </div>
        <div nz-row class="row_4_4" id="ur_r_3">
          <div nz-col class="col_4_4" id="ur_r_3_c_1"></div>
          <div nz-col class="col_4_4" id="ur_r_3_c_2"></div>
          <div nz-col class="col_4_4" id="ur_r_3_c_3"></div>
          <div nz-col class="col_4_4" id="ur_r_3_c_4"></div>
        </div>
        <div nz-row class="row_4_4" id="ur_r_4">
          <div nz-col class="col_4_4" id="ur_r_4_c_1"></div>
          <div nz-col class="col_4_4" id="ur_r_4_c_2"></div>
          <div nz-col class="col_4_4" id="ur_r_4_c_3"></div>
          <div nz-col class="col_4_4" id="ur_r_4_c_4"></div>
        </div>
      </div>
    </div>
    <div nz-row class="row">
      <div nz-col class="board" id="ml">
        <div nz-row class="row_3_4" id="ml_r_1">
          <div nz-col class="col_3_4" id="AR_0"></div>
          <div nz-col class="col_3_4" id="AR_1"></div>
          <div nz-col class="col_3_4" id="AR_2"></div>
          <div nz-col class="col_3_4" id="AR_3"></div>
        </div>
        <div nz-row class="row_3_4" id="ml_r_2">
          <div nz-col class="col_3_4" id="DR_9"></div>
          <div nz-col class="col_3_4" id="AF_0"></div>
          <div nz-col class="col_3_4" id="AF_1"></div>
          <div nz-col class="col_3_4" id="AF_2"></div>
        </div>
        <div nz-row class="row_3_4" id="ml_r_3">
          <div nz-col class="col_3_4" id="DR_8"></div>
          <div nz-col class="col_3_4" id="DR_7"></div>
          <div nz-col class="col_3_4" id="DR_6"></div>
          <div nz-col class="col_3_4" id="DR_5"></div>
        </div>
      </div>
      <div nz-col class="board" id="mm">
        <div nz-row class="row_3_3" id="mm_r_1">
          <div nz-col class="col_3_3" id="AR_4"></div>
          <div nz-col class="col_3_3" id="BF_3"></div>
          <div nz-col class="col_3_3" id="BR_4"></div>
        </div>
        <div nz-row class="row_3_3" id="mm_r_2">
          <div nz-col class="col_3_3" id="AF_3"></div>
          <div nz-col class="col_3_3" id="mm_r_2_c_2"></div>
          <div nz-col class="col_3_3" id="CF_3"></div>
        </div>
        <div nz-row class="row_3_3" id="mm_r_3">
          <div nz-col class="col_3_3" id="DR_4"></div>
          <div nz-col class="col_3_3" id="DF_3"></div>
          <div nz-col class="col_3_3" id="CR_4"></div>
        </div>
      </div>
      <div nz-col class="board" id="mr">
        <div nz-row class="row_3_4" id="mr_r_1">
          <div nz-col class="col_3_4" id="BR_5"></div>
          <div nz-col class="col_3_4" id="BR_6"></div>
          <div nz-col class="col_3_4" id="BR_7"></div>
          <div nz-col class="col_3_4" id="BR_8"></div>
        </div>
        <div nz-row class="row_3_4" id="mr_r_2">
          <div nz-col class="col_3_4" id="CF_2"></div>
          <div nz-col class="col_3_4" id="CF_1"></div>
          <div nz-col class="col_3_4" id="CF_0"></div>
          <div nz-col class="col_3_4" id="BR_9"></div>
        </div>
        <div nz-row class="row_3_4" id="mr_r_3">
          <div nz-col class="col_3_4" id="CR_3"></div>
          <div nz-col class="col_3_4" id="CR_2"></div>
          <div nz-col class="col_3_4" id="CR_1"></div>
          <div nz-col class="col_3_4" id="CR_0"></div>
        </div>
      </div>
    </div>
    <div nz-row class="row">
      <div nz-col class="board" id="bl">
        <div nz-row class="row_4_4" id="bl_r_1">
          <div nz-col class="col_4_4" id="bl_r_1_c_1"></div>
          <div nz-col class="col_4_4" id="bl_r_1_c_2"></div>
          <div nz-col class="col_4_4" id="bl_r_1_c_3"></div>
          <div nz-col class="col_4_4" id="bl_r_1_c_4"></div>
        </div>
        <div nz-row class="row_4_4" id="bl_r_2">
          <div nz-col class="col_4_4" id="bl_r_2_c_1"></div>
          <div nz-col class="col_4_4" id="bl_r_2_c_2"></div>
          <div nz-col class="col_4_4" id="bl_r_2_c_3"></div>
          <div nz-col class="col_4_4" id="bl_r_2_c_4"></div>
        </div>
        <div nz-row class="row_4_4" id="bl_r_3">
          <div nz-col class="col_4_4" id="DS_0"></div>
          <div nz-col class="col_4_4" id="DS_1"></div>
          <div nz-col class="col_4_4" id="bl_r_3_c_3"></div>
          <div nz-col class="col_4_4" id="bl_r_3_c_4"></div>
        </div>
        <div nz-row class="row_4_4" id="bl_r_4">
          <div nz-col class="col_4_4" id="DS_2"></div>
          <div nz-col class="col_4_4" id="DS_3"></div>
          <div nz-col class="col_4_4" id="bl_r_4_c_3"></div>
          <div nz-col class="col_4_4" id="bl_r_4_c_4"></div>
        </div>
      </div>
      <div nz-col class="board" id="bm">
        <div nz-row class="row_4_3" id="bm_r_1">
          <div nz-col class="col_4_3" id="DR_3"></div>
          <div nz-col class="col_4_3" id="DF_2"></div>
          <div nz-col class="col_4_3" id="CR_5"></div>
        </div>
        <div nz-row class="row_4_3" id="bm_r_2">
          <div nz-col class="col_4_3" id="DR_2"></div>
          <div nz-col class="col_4_3" id="DF_1"></div>
          <div nz-col class="col_4_3" id="CR_6"></div>
        </div>
        <div nz-row class="row_4_3" id="bm_r_3">
          <div nz-col class="col_4_3" id="DR_1"></div>
          <div nz-col class="col_4_3" id="DF_0"></div>
          <div nz-col class="col_4_3" id="CR_7"></div>
        </div>
        <div nz-row class="row_4_3" id="bm_r_4">
          <div nz-col class="col_4_3" id="DR_0"></div>
          <div nz-col class="col_4_3" id="CR_9"></div>
          <div nz-col class="col_4_3" id="CR_8"></div>
        </div>
      </div>
      <div nz-col class="board" id="br">
        <div nz-row class="row_4_4" id="br_r_1">
          <div nz-col class="col_4_4" id="br_r_1_c_1"></div>
          <div nz-col class="col_4_4" id="br_r_1_c_2"></div>
          <div nz-col class="col_4_4" id="br_r_1_c_3"></div>
          <div nz-col class="col_4_4" id="br_r_1_c_4"></div>
        </div>
        <div nz-row class="row_4_4" id="br_r_2">
          <div nz-col class="col_4_4" id="br_r_2_c_1"></div>
          <div nz-col class="col_4_4" id="br_r_2_c_2"></div>
          <div nz-col class="col_4_4" id="br_r_2_c_3"></div>
          <div nz-col class="col_4_4" id="br_r_2_c_4"></div>
        </div>
        <div nz-row class="row_4_4" id="br_r_3">
          <div nz-col class="col_4_4" id="br_r_3_c_1"></div>
          <div nz-col class="col_4_4" id="br_r_3_c_2"></div>
          <div nz-col class="col_4_4" id="CS_0"></div>
          <div nz-col class="col_4_4" id="CS_1"></div>
        </div>
        <div nz-row class="row_4_4" id="br_r_4">
          <div nz-col class="col_4_4" id="br_r_4_c_1"></div>
          <div nz-col class="col_4_4" id="br_r_4_c_2"></div>
          <div nz-col class="col_4_4" id="CS_2"></div>
          <div nz-col class="col_4_4" id="CS_3"></div>
        </div>
      </div>
    </div>
  </div>

  <div nz-col class="side-right" nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="4">
    <div nz-row id="regeln">
      <p class="regeln_header">Spielstart</p>
      <p class="regeln_text">
        Jeder Spieler erhählt 4 Spielfiguren in seiner eigenen Farbe.
        Zu Beginn stehen diese im so genannten "Haus" in der jeweils farbig markierten Ecke des Spielfelds.
        Die Spieler müssen nun nacheinander versuchen eine 6 zu würfeln um damit einen Spielstein aus ihrem Haus auf
        das Spielfeld zu bringen.
        Solange ein Spieler keine Figur auf dem Spielfeld besitzt darf dieser pro Runde drei Mal versuchen eine 6 zu
        würfeln.
        Sobald eine 6 gewürfelt wurde, muss der Spieler eine Figur aus dem Haus auf das farbig markierte Anfangsfeld
        setzen.
        Er erhählt nun einen zweiten Wurf, mit dem er diese Figur weiterrücken muss.
      </p>
      <p class="regeln_header">Spielablauf</p>
      <p class="regeln_text">
        Hat ein Spieler eine Figur auf dem Feld, dann darf er pro Runde nur noch ein Mal würfeln.
        Anschließend darf er eine beliebige Figur von sich, welche sich jedoch auf dem Spielfeld befinden muss, um
        die gewürfelte Augenzahl weiterziehen.
        Würfelt ein Spieler eine 6 erhält er einen weiteren Wurf. Befindet sich zu dem Zeitpunkt noch mindestens
        eine Figur in seinem Haus, dann muss diese zuerst auf das Anfangsfeld von ihm gezogen werden.
        Der zweite Wurf darf dann nur noch mit der Person auf dem Anfangsfeld vollzogen werden.
        Hat ein Spieler keine Figuren mehr im Haus, so erhält er trotzdem einen weiteren Wurf und darf mit
        beliebigem ihm gehörenden Figuren ziehen.
        Kommt ein Spieler auf ein Feld mit einer fremden oder eigenen Figur, dann schlägt er diese.
        Das bedeutet, dass die Figur zurück in das zugehörige Haus versetzt wird.
      </p>
      <p class="regeln_header">Spielende</p>
      <p class="regeln_text">
        Ziel des Spiels ist es, alle seine Figuren in das eigene Ziel zu bringen. Das sind die 4 farbig markierten
        Felder in der Mitte des Spielfelds.
        Hat eine Figur das äußere Kreuz vollständig umrudet kann es auf die Kreise ihrer Farbe ins Ziel.
        Dazu muss jedoch die genaue Augenzahl für ein freies Zielfeld erwürfelt werden. Geschieht das nicht, kann
        entweder mit einer anderen Figur gezogen werden oder der Spielzug wird beendet.
      </p>
    </div>
    <div nz-row id="dice" nzJustify="center">
      <div class="scene">
        <div id="cube">
          <img src="assets/dice/dice-1.png" class="cube__face cube__face--1">
          <img src="assets/dice/dice-2.png" class="cube__face cube__face--2">
          <img src="assets/dice/dice-3.png" class="cube__face cube__face--3">
          <img src="assets/dice/dice-4.png" class="cube__face cube__face--4">
          <img src="assets/dice/dice-5.png" class="cube__face cube__face--5">
          <img src="assets/dice/dice-6.png" class="cube__face cube__face--6">
        </div>
      </div>
    </div>
    <div nz-row id="dice-btn" nzJustify="center">
      <button class="rollBtn" (click)="getGameData()">Roll the Dice</button>
    </div>
  </div>
</div>
