<div class="header" xmlns="http://www.w3.org/1999/html">
  <div class="header-nav left">
    <div id="lobby" *ngIf="this.router.url !== '/lobby' && this.router.url !== '/login'">
      <button id="lobbyBtn" (click)="openPopup()">Lobby</button>
    </div>
  </div>
  <div class="header-nav right">
    <div id="logout" *ngIf="this.router.url !== '/login'">
      <button id="logoutBtn" (click)="logout()">Logout</button>
    </div>
  </div>
</div>

<!-- Back to Lobby popup with leave game option-->
<nz-modal [(nzVisible)]="isVisibleGame" nzTitle="Back to Lobby?" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    Do you want to leave the game, too?
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button nz-button (click)="handleOk()" style="border-color: red; color: red">Leave</button>
    <button nz-button nzType="primary" (click)="handleNo()">Lobby</button>
  </div>
</nz-modal>

<!-- Back to lobby popup without leave game option-->
<nz-modal [(nzVisible)]="isVisibleNoGame" nzTitle="Back to Lobby?" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    Do you want to go back to Lobby?
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" (click)="handleNo()">Lobby</button>
  </div>
</nz-modal>

