.header {
  background-color: #000000;
  padding: 0 24px;
  height: 56px;
}

.header-nav {
  color: #fff;
  display: inline-block;
  line-height: 56px;
}

.left {
  float: left;
}

.right {
  float: right;
}

#logoutBtn, #lobbyBtn {
  background-color: darkred;
  border-radius: 25px;
  border: 1px black;
  box-shadow: 5px 5px 5px #8b0000;
  width: 150px;
  height: 35px;
  font-size: 20px;
}

#logout, #lobby {
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}
