#outer {
  width:100%;
  display: flex;
  justify-content: center;
}

.login-form {
  width: 300px;
}

.register-form {
  width: 300px;
  display: none;
}

.login-form-margin {
  margin-bottom: 16px;
}

.register-form-margin {
  margin-bottom: 16px;
}

.login-form-button {
  width: 100%;
}

.register-form-button {
  width: 100%;
}

.imagePreview{
  float: left;
  width: 80px;
  aspect-ratio: 1;
  margin: 5px;
  border-radius: 25px;
}

